<%- include('include/_header') %>


<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex-justify-betweem" >
            <div class="filter">
                <a href="/"><i class="fas fa-angle-double-left"></i>Home page</a>
            </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Add Book</h2>
            <span class="text-light">Use the below form to Add a new Book</span>
        </div>


        <%- include('include/_form') %>




    
    </div>
</main>


<%- include('include/_footer') %>