 <form action="/api/users/:author" method="GET">
    <div class="new_user">
        <div class="form-group">
            <label for="author" class="text-light">Author Name</label>
            <input type="text" name="author" value="">
            <button type="submit">Search</button>
        </div>
    </div>
</form>



