<form action="/api/users/:subject" method="GET">
    <div class="new_user">
        <div class="form-group">
            <label for="subject" class="text-light">subject</label>
            <input type="text" name="subject" value="">
            <button type="submit">Search</button>
        </div>
    </div>
</form>
